---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostCard from "@components/CommonCard.astro";
import { DEPUTIES } from "@consts";

export async function getStaticPaths() {
  const isInFavor = DEPUTIES.filter((d) => d.isSupportive);
  const isAgainst = DEPUTIES.filter((d) => !d.isSupportive);
  return [
    {
      params: { position: "a-favor" },
      props: { deputies: isInFavor },
    },
    {
      params: { position: "en-contra" },
      props: { deputies: isAgainst },
    },
  ];
}

const { deputies } = Astro.props;
---

<BaseLayout title="Hihi" description="TODO">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {deputies.map((deputy) => <PostCard deputy={deputy} />)}
  </div>
</BaseLayout>
