---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Card from "@components/CommonCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";

const deputies = await getCollection("diputados");
deputies.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="grid grid-cols-1">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {deputies.map((deputy) => <Card deputy={deputy} />)}
    </div>
  </div>
</BaseLayout>
