---
import BaseLayout from "@layouts/BaseLayout.astro";
import LinkButton from "@components/LinkButton.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="mt-36 flex justify-center">
    <div
      class="w-120 flex h-64 overflow-hidden rounded-md border-2 border-neutral-300"
    >
      <img class="rounded-md" src="fire.jpg" />
      <div class="flex flex-col justify-center px-8">
        <h2 class="text-3xl">Bolivia</h2>
        <div class="text-2xl">4 millones de hectáreas consumidas</div>
        <LinkButton class="self-center" href="/diputados">Abrogación</LinkButton
        >
      </div>
    </div>
  </div>
</BaseLayout>
