---
import Link from "@components/Links.astro";
import { Icon } from "astro-icon/components";
import { SITE_TITLE, HeaderLinks } from "@consts";
---

<header
  class="z-50 mb-8 flex w-full flex-wrap bg-black py-7 text-white md:flex-nowrap md:justify-start"
>
  <nav
    class="relative mx-auto flex w-full max-w-7xl basis-full flex-wrap items-center px-4 md:grid md:grid-cols-12"
    aria-label="Global"
  >
    <div class="md:col-span-3">
      <a
        class="flex-none text-xl font-semibold"
        href="/"
        aria-label="Astroverse"
      >
        {SITE_TITLE}
      </a>
    </div>

    <div
      class="ms-auto flex items-center gap-x-2 py-1 md:order-3 md:col-span-3 md:ps-6"
    >
      <div class="md:hidden">
        <button
          type="button"
          class="hs-collapse-toggle flex size-[38px] items-center justify-center rounded-xl text-sm font-semibold disabled:pointer-events-none disabled:opacity-50"
          data-hs-collapse="#navbar-collapse-with-animation"
          aria-controls="navbar-collapse-with-animation"
          aria-label="Toggle navigation"
        >
          <Icon
            name="tabler:menu-2"
            class="size-4 flex-shrink-0 hs-collapse-open:hidden"
          />
          <Icon
            name="tabler:menu-order"
            class="hidden size-4 flex-shrink-0 hs-collapse-open:block"
          />
        </button>
      </div>
    </div>

    <div
      id="navbar-collapse-with-animation"
      class="hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 md:order-2 md:col-span-6 md:block md:w-auto md:basis-auto"
    >
      <div
        class="mt-5 flex flex-col gap-x-0 gap-y-4 md:mt-0 md:flex-row md:items-center md:justify-center md:gap-x-7 md:gap-y-0"
      >
        {
          HeaderLinks.map((link) => (
            <Link
              href={link.href}
              class="px-4 py-3 font-medium hover:text-black"
            >
              {link.title}
            </Link>
          ))
        }
      </div>
    </div>
  </nav>
</header>
